@font-face {
  font-family: "eplicabookbook";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicabook-webfont.woff2?v=1724292946")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicabook-webfont.woff?v=1724292946")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "eplicamediummedium";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicamedium-webfont.woff2?v=1724292946")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicamedium-webfont.woff?v=1724292946")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "eplicaboldbold";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicabold-webfont.woff2?v=1724292946")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicabold-webfont.woff?v=1724292945")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeoniklight";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-light-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-light-webfont.woff?v=1724292920")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonikregular";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-regular-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-regular-webfont.woff?v=1724292921")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonikmedium";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-medium-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-medium-webfont.woff?v=1724292920")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonikbold";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-bold-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-bold-webfont.woff?v=1724292920")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonikblack";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-black-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-black-webfont.woff?v=1724292921")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.header--transparent {
  position: absolute;
  left: 0;
  right: 0;
  background: transparent;
}

.shopify-section-header-sticky .header--transparent {
  background: var(--gradient-background);
}

.blog .article-card .card__information {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.article-card .card__information .full-unstyled-link {
  font-family: "aeonikregular";
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 70% 8%;
  grid-gap: 22%;
}

.article-card .card__information .full-unstyled-link .icon {
  margin-top: 3px;
}

.article-card .card__inner {
  height: 250px;
}

.blog .blog__posts {
  margin-top: 0;
}

.blog .blog__title {
  line-height: 4rem;
  margin-bottom: 1rem;
}

.blog .slider-buttons {
  position: absolute;
  right: 0;
  bottom: -3.5rem;
}

@media screen and (min-width: 750px) {
  .blog .slider-buttons {
    right: 1rem;
    bottom: -2.5rem;
  }
}

@media screen and (min-width: 990px) {
  .blog .slider-buttons {
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .section__row-layout {
    display: grid;
    grid-template-columns: 30% 69%;
    grid-column-gap: 1%;
    align-items: flex-start;
  }
}

@media screen and (min-width: 990px) {
  .section__row-layout {
    grid-template-columns: 25% 70%;
    grid-column-gap: 5%;
  }
}

.btn__radius--default {
  border-radius: 0;
}

.btn__radius--semi-curve {
  border-radius: 10px;
}

.btn__radius--curve {
  border-radius: 20px;
}

.btn__radius--rounded {
  border-radius: 50%;
}

@media screen and (min-width: 750px) {
  .btn__width--default {
    width: auto;
  }

  .btn__width--2x {
    width: 20rem;
  }

  .btn__width--3x {
    width: 25rem;
  }

  .btn__width--4x {
    width: 35rem;
  }
}

.reviews .slider-buttons {
  margin-bottom: 3rem;
}

.reviews .slider.slider--desktop .slider__slide {
  width: 100%;
  padding: 0 2rem;
}

.reviews .slider.slider--desktop .slider__slide {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 750px) {
  .reviews .slider-buttons {
    margin-bottom: 2rem;
  }

  .reviews .slider.slider--desktop .slider__slide {
    flex-direction: row;
  }

  .reviews .slider.slider--desktop .multicolumn-card__image-wrapper {
    width: 30%;
  }

  .reviews .slider.slider--desktop .multicolumn-card {
    width: 65% !important;
    max-width: max-content;
    height: 100%;
  }
}

@media screen and (min-width: 820px) {
  .reviews .slider.slider--desktop .slider__slide {
    padding: 0 2rem;
  }

  .reviews .slider.slider--desktop .multicolumn-card__image-wrapper {
    width: 30%;
  }

  .reviews .slider.slider--desktop .multicolumn-card {
    width: 65% !important;
    max-width: max-content;
  }
}

@media screen and (min-width: 1025px) {
  .reviews .slider.slider--desktop .slider__slide {
    width: 75%;
    padding: 0;
    margin-right: 2rem;
    column-gap: 3rem;
  }
}

.review-list .multicolumn-card__image-wrapper .media {
  width: 230px;
  height: 230px;
  border-radius: 100%;
}

.review-list .multicolumn-card__image-wrapper .media img {
  width: 100%;
}

.review-list__item .review-card {
  width: 100% !important;
  max-width: max-content;
  height: auto !important;
  margin-left: 0 !important;
  margin-bottom: 3rem;
}

.review-list__item .multicolumn-card__image-wrapper {
  padding: 0;
  margin-bottom: 3.5rem;
}

@media screen and (min-width: 750px) {
  .review-list__item .multicolumn-card__image-wrapper {
    margin: 0;
  }

  .review-list .multicolumn-card__image-wrapper .media {
    width: 200px;
    height: 200px;
  }

  .review-list .review-card-with-photo::before {
    content: "";
    position: absolute;
    top: 40%;
    left: -1.5rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 17.3px 10px 0;
    border-color: transparent rgb(var(--color-button-text)) transparent
      transparent;
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 990px) {
  .review-list .multicolumn-card__image-wrapper .media {
    width: 230px;
    height: 230px;
  }
}

.reviews .title-wrapper-with-link {
  margin-bottom: 8rem;
}

.review-list .rte p {
  line-height: 2rem;
  margin: 0 0 1.5rem;
}

.review-list .review-card {
  height: 100%;
  margin-bottom: 0;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
}

.review-list .review-card .multicolumn-card__info {
  height: 100%;
  background-color: rgb(var(--color-button-text));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-list.slider--desktop .slider__slide:first-child {
  margin-left: 0 !important;
}

.review-list .ratings {
  margin-bottom: 1.5rem;
  display: block;
}

.review-list .multicolumn-card__info h3.inline-richtext {
  font-size: 3rem;
  font-weight: bold;
  max-width: 70%;
  margin: 0 0 2rem;
}

@media screen and (min-width: 750px) {
  .review-list .review-card {
    margin-bottom: 0;
  }

  .review-list .review-card .multicolumn-card__info {
    display: block;
  }
}

@media screen and (min-width: 990px) {
  .review-list .multicolumn-card__info h3.inline-richtext {
    font-size: 4rem;
    line-height: 3.5rem;
  }
}

.reviews .slider-counter--total,
.collection .slider-counter--total {
  display: none;
}

@media screen and (min-width: 1025px) {
  .footer .email-enabled {
    display: grid;
    grid-template-columns: 35% 12% 12% 12% 25%;
  }

  .footer .footer-block-newsletter {
    padding-right: 3rem;
  }

  .footer .footer__newsletter {
    margin-bottom: 1rem;
  }

  .footer .footer-block-newsletter .list-social {
    justify-content: flex-start;
  }
}

.footer div {
  width: 100%;
}

.footer .email-enabled .footer-block {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 750px) {
  .footer .email-enabled .footer-block:nth-child(n + 2):nth-child(-n + 4) {
    max-width: 32%;
  }
}

@media screen and (min-width: 1025px) {
  .footer .email-enabled .footer-block:nth-child(n + 2):nth-child(-n + 4) {
    max-width: 100%;
  }
}

.footer .email-enabled .footer__list-social {
  justify-content: flex-start;
}

.footer .email-enabled .newsletter-form {
  max-width: 100%;
}

.footer .newsletter-form__field-wrapper {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .footer .footer__logo.logo-absolute {
    position: absolute;
    left: 5rem;
  }
}

/* .row-slider-review {
  display: flex;
  gap: 20px;
}

img.product-image {
  width: 250px !important;
  height: 250px;
  border-radius: 100%;
}

.col-slider-image {
  width: 40%;
}

.col-slider-content {
  width: 60%;
}

.main-slider-div-review {
  max-width: 1400px;
  margin: auto;
  padding: 80px;
}

img.star-image {
  width: 100px !important;
  object-fit: cover;
}
h2.review-title {
  margin-left: 0;
  font-weight: 500;
  font-size: 40px;
  color: #43412c;
  line-height: 46px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.rev-adn-78 p {
  line-height: 1.5rem;
  font-size: 18px;
  opacity: 1;
  color: #000;
  font-weight: 400;
  word-spacing: -2px;
  margin-bottom: 14px;
}

h6.user-title {
  line-height: 6px;
  font-size: 15px;
  opacity: 1;
  color: #000;
  font-weight: 600;
  word-spacing: -2px;
}

p.product-name {
  line-height: 26px;
  font-size: 13px;
  opacity: 1;
  color: #000;
  font-weight: 400;
  word-spacing: -2px;
}
.content-slider-style {
  background-color: #fff3e6;
  padding: 26px 28px 18px;
}
.content-slider-style {
  position: relative;
}

.content-slider-style::after {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid #fff3e6;
  content: "";
  position: absolute;
  top: 65px;
  left: -18px;
  transform: rotate(90deg);
}

.slider-image {
  display: flex;
  justify-content: end;
}

.main-slider-div-review {
  padding-top: 0 !important;
} */
