@font-face {
  font-family: "eplicabookbook";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicabook-webfont.woff2?v=1724292946")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicabook-webfont.woff?v=1724292946")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "eplicamediummedium";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicamedium-webfont.woff2?v=1724292946")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicamedium-webfont.woff?v=1724292946")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "eplicaboldbold";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicabold-webfont.woff2?v=1724292946")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicabold-webfont.woff?v=1724292945")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeoniklight";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-light-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-light-webfont.woff?v=1724292920")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonikregular";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-regular-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-regular-webfont.woff?v=1724292921")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonikmedium";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-medium-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-medium-webfont.woff?v=1724292920")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonikbold";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-bold-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-bold-webfont.woff?v=1724292920")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonikblack";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-black-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-black-webfont.woff?v=1724292921")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.header--transparent {
  position: absolute;
  left: 0;
  right: 0;
  background: transparent;
}

@media screen and (min-width: 750px) {
  .blog__inner-row {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-column-gap: 5%;
  }

  .blog__inner-row .blog-posts__grid-overflow {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    /* -ms-overflow-style: none; /* IE and Edge */
    /* scrollbar-width: none; /* Firefox */
  }

  .blog__inner-row .blog-posts__grid-overflow::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;
  }

  .blog__inner-row .blog-posts__grid-overflow::-webkit-scrollbar-thumb {
    background: rgba(1, 1, 1, 0.5);
    border-radius: 3rem;
  }

  .blog-posts__grid {
    padding-bottom: 2rem;
    display: flex;
    gap: 1rem;
  }

  .blog-posts__grid .blog-posts__grid ::-webkit-scrollbar {
    display: none;
  }

  .blog__inner-row .blog-posts__grid .blog-posts__item {
    width: 250px;
    scroll-snap-align: start;
  }
}

.btn__radius--default {
  border-radius: 0;
}

.btn__radius--semi-curve {
  border-radius: 10px;
}

.btn__radius--curve {
  border-radius: 20px;
}

.btn__radius--rounded {
  border-radius: 50%;
}

@media screen and (min-width: 750px) {
  .btn__width--default {
    width: auto;
  }

  .btn__width--2x {
    width: 12rem;
  }

  .btn__width--3x {
    width: 18rem;
  }

  .btn__width--4x {
    width: 24rem;
  }
}

.row-slider-review {
  display: flex;
  gap: 20px;
}

img.product-image {
  width: 250px !important;
  height: 250px;
  border-radius: 100%;
}

.col-slider-image {
  width: 40%;
}

.col-slider-content {
  width: 60%;
}

.main-slider-div-review {
  max-width: 1400px;
  margin: auto;
  padding: 80px;
}

img.star-image {
  width: 100px !important;
  object-fit: cover;
}
h2.review-title {
  margin-left: 0;
  font-weight: 500;
  font-size: 40px;
  color: #43412c;
  line-height: 46px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.rev-adn-78 p {
  line-height: 1.5rem;
  font-size: 18px;
  opacity: 1;
  color: #000;
  font-weight: 400;
  word-spacing: -2px;
  margin-bottom: 14px;
}

h6.user-title {
  line-height: 6px;
  font-size: 15px;
  opacity: 1;
  color: #000;
  font-weight: 600;
  word-spacing: -2px;
}

p.product-name {
  line-height: 26px;
  font-size: 13px;
  opacity: 1;
  color: #000;
  font-weight: 400;
  word-spacing: -2px;
}
.content-slider-style {
  background-color: #fff3e6;
  padding: 26px 28px 18px;
}
.content-slider-style {
  position: relative;
}

.content-slider-style::after {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid #fff3e6;
  content: "";
  position: absolute;
  top: 65px;
  left: -18px;
  transform: rotate(90deg);
}
.slider-image {
  display: flex;
  justify-content: end;
}
.main-slider-div-review {
  padding-top: 0 !important;
}
