@font-face {
  font-family: "eplicabookbook";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicabook-webfont.woff2?v=1724292946")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicabook-webfont.woff?v=1724292946")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "eplicamediummedium";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicamedium-webfont.woff2?v=1724292946")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicamedium-webfont.woff?v=1724292946")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "eplicaboldbold";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicabold-webfont.woff2?v=1724292946")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/eplicabold-webfont.woff?v=1724292945")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeoniklight";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-light-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-light-webfont.woff?v=1724292920")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonikregular";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-regular-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-regular-webfont.woff?v=1724292921")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonikmedium";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-medium-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-medium-webfont.woff?v=1724292920")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonikbold";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-bold-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-bold-webfont.woff?v=1724292920")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonikblack";
  src: url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-black-webfont.woff2?v=1724292920")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0696/1538/6838/files/aeonik-black-webfont.woff?v=1724292921")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "aeonikregular";
}

.content-for-layout {
  overflow: hidden;
}

.menu-drawer__navigation-container .search-modal__content {
  height: auto;
  border-bottom: solid 1px rgba(var(--color-foreground), 0.1);
  padding: 3rem;
}

.product .text__button-style {
  color: #b58870;
  font-size: 1.2rem;
  letter-spacing: 0;
  background: none;
  border: solid 1px #b58870;
  padding: 0.5rem 1rem;
  margin: 0 !important;
  display: inline-block;
}

.product .product-form__input {
  width: 100%;
  max-width: none;
}

.product .price-per-item__container {
  display: grid;
  grid-template-columns: 25% 70%;
  column-gap: 1rem;
}

@media screen and (min-width: 750px) {
  .product .price-per-item__container {
    grid-template-columns: 30% 65%;
  }
}

@media screen and (min-width: 1024px) {
  .product .price-per-item__container {
    grid-template-columns: 25% 70%;
  }
}

@media screen and (min-width: 1025px) {
  .product .price-per-item__container {
    grid-template-columns: 15% 83%;
    column-gap: 1.5rem;
  }
}

.product .product-form__quantity .quantity__label {
  display: none;
}

.product .price-per-item__container .product-form,
.product .product-form .product-form__submit {
  margin: 0;
}

.product .quantity {
  width: auto;
  height: 44px;
}

.product .quantity::after {
  border-radius: 0;
}

.product .price-per-item__container .quantity__button {
  min-height: unset;
  height: 44px;
  border-radius: 0;
}

.product .quantity .quantity__button {
  width: 3rem;
}

.product .product-form .product-form__submit {
  color: rgb(var(--color-foreground));
  font-weight: bold;
  text-transform: uppercase;
  min-height: calc(4.5rem + var(--buttons-border-width) * 2);
}

.product .product__title h1 {
  font-family: "aeonikregular";
}

.product .product__review {
  position: relative;
  font-size: 1.3rem;
  line-height: 2rem;
  background: #fff3e6;
  padding: 1rem 1.5rem 0.5rem;
}

.product .product__review::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 30px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff3e6 transparent transparent;
  transform: rotate(90deg);
}

.product .product__review p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.product .product__description {
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.video-section .grid {
  display: flex;
  flex-direction: column-reverse;
}

.video-section .grid__item,
.video-section .grid__item--video {
  width: 100%;
}

.video-section .grid__item.video-with-text__content {
  padding-right: 0;
}

.video-section .title-wrapper .title,
.video-section .title-wrapper .sub-title p {
  margin-bottom: 1rem;
}

.video-section .title-wrapper .sub-title p {
  margin-top: 0;
}

.video-section .video-section__media {
  margin-bottom: 16rem;
}

.video-section .video-section__media,
.video-section .video-section__poster {
  height: 23rem;
}

@media screen and (min-width: 750px) {
  .video-section .video-section__media {
    margin-bottom: 18rem;
  }

  .video-section .video-section__media,
  .video-section .video-section__poster {
    height: 40rem;
  }
}

@media screen and (min-width: 1024px) {
  .video-section .video-section__media {
    margin-bottom: 10rem;
  }
}

@media screen and (min-width: 1025px) {
  .video-section .grid {
    display: flex;
    flex-direction: row;
  }

  .video-section .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }

  .grid--3-col-tablet .grid__item--video {
    width: calc(65% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }

  .video-section .video-section__media {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .video-section .grid__item.video-with-text__content {
    padding-right: 7rem;
  }

  .video-section .video-with-text__content {
    padding: 0 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.video-section .video-with-text__content .sub-title p {
  margin-top: 0;
}

.video-with-text__content--desktop-right > * {
  align-self: flex-end;
  text-align: right;
}

.video-with-text__content--desktop-right {
  padding-top: 0;
}

.video-with-text__content--desktop-left > * {
  align-self: flex-start;
  text-align: left;
}

.video-with-text__content--desktop-left {
  padding-top: 0;
  padding-left: 0 !important;
}

.video-with-text__content--desktop-center > * {
  align-self: center;
  text-align: center;
}

.collection-list__item .card--standard > .card__content {
  display: none;
}

/* .collection-list__item .card--standard .card__inner .card__heading,
.collection-list__item .card--standard .card__inner .card__caption {
  color: rgb(var(--color-button-text));
} */

.collection-list__item .card--standard .card__inner .card__content {
  height: 100%;
  display: flex;
  align-self: flex-start;
}

.collection-list__item .card--standard .card__inner .card__heading {
  color: rgb(var(--color-background));
  font-size: 3rem;
}

.collection-list__item .card--standard .card__inner .card__caption {
  color: rgb(var(--color-background));
  font-family: "aeonikregular";
  font-size: 1.3rem;
  line-height: 2rem;
  width: 60%;
}

.collection-list .card--standard.card--media .card__inner .card__information {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collection-list .card--standard.card--media .card__inner .button {
  align-self: flex-start;
}

.blog .article-card .card__information {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.article-card .card__information .full-unstyled-link {
  font-family: "aeonikregular";
  font-size: 1.5rem;
  line-height: 1.8rem;
  display: grid;
  grid-template-columns: 70% 8%;
  grid-gap: 22%;
}

.article-card .card__information .full-unstyled-link .icon {
  margin-top: 3px;
}

.article-card .card__inner {
  height: 250px;
}

/* .image-with-three-cols {
  position: relative;
} */

.blog .image__float {
  position: absolute;
  top: -20rem;
  right: -20rem;
}

.blog .image__float img {
  width: 350px;
  /* height: auto; */
}

.image-with-three-cols .image__float {
  position: absolute;
  top: -6rem;
  right: -9rem;
}

.image-with-three-cols .image__float img {
  width: 280px;
  height: auto;
}

.image-with-three-cols .image-with-text__media-item {
  display: none;
}

@media screen and (min-width: 414px) {
  .image-with-three-cols .image__float img {
    width: 300px;
  }
}

@media screen and (min-width: 750px) {
  .blog .image__float {
    top: unset;
    left: -25rem;
    bottom: -15rem;
  }

  .blog .image__float img {
    width: 500px;
    height: auto;
  }

  .image-with-three-cols .image__float {
    position: absolute;
    top: -13rem;
    right: -10rem;
  }

  .image-with-three-cols .image__float img {
    width: 300px;
  }
}

@media screen and (min-width: 820px) {
  .blog .image__float {
    top: unset;
    left: -28rem;
    bottom: -18rem;
  }

  .blog .image__float img {
    width: 550px;
    height: auto;
  }

  .image-with-three-cols .image__float {
    position: absolute;
    top: -12rem;
    right: -10rem;
  }
}

@media screen and (min-width: 1024px) {
  .blog .image__float {
    top: unset;
    left: -28rem;
    bottom: -18rem;
  }

  .blog .image__float img {
    width: 600px;
    height: auto;
  }

  .image-with-three-cols .image__float {
    position: absolute;
    top: -20rem;
  }

  .image-with-three-cols .image__float img {
    width: 400px;
  }
}

@media screen and (min-width: 1025px) {
  .blog .image__float {
    left: -32rem;
    bottom: -23rem;
  }

  .blog .image__float img {
    width: 700px;
  }

  .image-with-three-cols .image__float {
    position: absolute;
    top: -11rem;
    right: 2rem;
  }
}

/* @media screen and (min-width: 1441px) {
  .image-with-three-cols .image__float {
    position: absolute;
    top: -3rem;
    right: 35rem;
  }
} */

.blog .blog__posts {
  margin-top: 0;
}

.blog .blog__title {
  line-height: 4rem;
  margin-bottom: 1rem;
}

.blog .slider-buttons {
  position: absolute;
  right: 0;
  bottom: -3.5rem;
}

@media screen and (min-width: 750px) {
  .blog .slider-buttons {
    right: 1rem;
    bottom: -2.5rem;
  }
}

@media screen and (min-width: 990px) {
  .blog .slider-buttons {
    right: 0;
  }
}

.reviews .slider-buttons {
  margin-bottom: 3rem;
}

.reviews .slider.slider--desktop .slider__slide {
  width: 100%;
  padding: 0 2rem;
}

.reviews .slider.slider--desktop .slider__slide {
  /* padding: 0 2rem; */
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 749px) {
  .multicolumn .grid {
    column-gap: 1rem !important;
    row-gap: 1rem !important;
  }
}

.multicolumn-list .card__style--overlay .multicolumn-card__info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  z-index: 1;
}

.multicolumn-list .card__style--overlay h3.inline-richtext {
  position: absolute;
  right: -14rem;
  top: 18rem;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: right;
  width: 90%;
  transform: rotate(-0.25turn);
}

@media screen and (min-width: 414px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    right: -16rem;
    top: 21rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    top: 32rem;
    right: -26rem;
  }
}

@media screen and (min-width: 820px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    top: 33rem;
    right: -28rem;
  }
}

@media screen and (min-width: 991px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    top: 14rem;
    right: -12rem;
  }
}

@media screen and (min-width: 1024px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    top: 14rem;
    right: -10rem;
  }
}

@media screen and (min-width: 1025px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    right: -10rem;
    top: 14rem;
  }
}

@media screen and (min-width: 1100px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    right: -12rem;
    top: 16rem;
  }
}

@media screen and (min-width: 1350px) {
  .multicolumn-list .card__style--overlay h3.inline-richtext {
    right: -15rem;
    top: 20rem;
  }
}

.multicolumn-list .card__style--overlay .rte {
  font-size: 1.5rem;
  line-height: 2.3rem;
}

.card__style--overlay .card__style--dark::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(85, 85, 85);
  background: linear-gradient(
    0deg,
    rgba(85, 85, 85, 1) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: -1;
}

@media screen and (min-width: 750px) {
  .multicolumn-list__item .row__layout {
    /* display: flex; */
    display: grid;
    grid-template-columns: 30% 65%;
    column-gap: 2rem;
  }

  .multicolumn-list__item .row__layout .multicolumn-card__image-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    margin: 0;
  }

  .multicolumn-list__item .row__layout .multicolumn-card__info {
    padding: 0 !important;
  }

  .multicolumn-list__item
    .row__layout
    .multicolumn-card__info
    h3.inline-richtext {
    font-family: "aeonikregular";
    font-size: 1.5rem;
  }
  .multicolumn-list__item .row__layout .multicolumn-card__info .rte {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 989px) {
  .card__style--overlay-wrapper.page-width {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.card__style--overlay .card__style--dark.multicolumn-card__info,
.card__style--overlay .card__style--dark h3.inline-richtext {
  color: rgb(var(--color-button-text));
}

.reviews .slider.slider--desktop .multicolumn-card {
  box-sizing: border-box;
}

@media screen and (min-width: 750px) {
  .reviews .slider-buttons {
    margin-bottom: 2rem;
  }

  .reviews .slider.slider--desktop .slider__slide {
    flex-direction: row;
  }

  .reviews .slider.slider--desktop .multicolumn-card__image-wrapper {
    width: 30%;
  }

  .reviews .slider.slider--desktop .multicolumn-card {
    width: 65% !important;
    max-width: max-content;
    height: 100%;
  }
}

@media screen and (min-width: 820px) {
  .reviews .slider.slider--desktop .slider__slide {
    padding: 0 2rem;
  }

  .reviews .slider.slider--desktop .multicolumn-card__image-wrapper {
    width: 30%;
  }

  .reviews .slider.slider--desktop .multicolumn-card {
    width: 65% !important;
    max-width: max-content;
  }
}

@media screen and (min-width: 1025px) {
  .reviews .slider.slider--desktop .slider__slide {
    width: 60%;
    padding: 0;
    margin-right: 2rem;
    column-gap: 3rem;
  }
}

.review-list .multicolumn-card__image-wrapper .media {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.review-list .multicolumn-card__image-wrapper .media img {
  width: 100%;
}

.review-list__item .review-card {
  width: 100% !important;
  max-width: max-content;
  height: auto !important;
  margin-left: 0 !important;
  margin-bottom: 3rem;
}

.review-list__item .multicolumn-card__image-wrapper {
  padding: 0;
  margin-bottom: 3.5rem;
}

.review-list .review-card-with-photo::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 47%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 17.3px 10px 0;
  border-color: transparent rgb(var(--color-button-text)) transparent
    transparent;
  transform: rotate(90deg);
}

@media screen and (min-width: 750px) {
  .review-list__item .multicolumn-card__image-wrapper {
    margin: 0;
  }

  .review-list .multicolumn-card__image-wrapper .media {
    width: 200px;
    height: 200px;
  }

  .review-list .review-card-with-photo::before {
    top: 40%;
    left: -1.5rem;
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 990px) {
  .review-list .multicolumn-card__image-wrapper .media {
    width: 210px;
    height: 210px;
  }
}

.reviews .title-wrapper-with-link {
  margin-bottom: 8rem;
}

.review-list .rte p {
  line-height: 2rem;
  margin: 0 0 1.5rem;
}

.review-list .review-card {
  height: 100%;
  margin-bottom: 0;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
}

.review-list .review-card .multicolumn-card__info {
  height: 100%;
  background-color: rgb(var(--color-button-text));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-list.slider--desktop .slider__slide:first-child {
  margin-left: 0 !important;
}

.review-list .ratings {
  margin-bottom: 0.5rem;
  display: block;
}

.review-list .multicolumn-card__info h3.inline-richtext {
  font-size: 2rem;
  /* font-weight: bold; */
  max-width: 70%;
  margin: 0 0 1rem;
}

.review-list .multicolumn-card__info .footer-block__details-content {
  font-size: 1.3rem;
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .review-list .review-card {
    margin-bottom: 0;
  }

  /* .review-list .review-card .multicolumn-card__info {
    display: block;
  } */
}

@media screen and (min-width: 990px) {
  .review-list .multicolumn-card__info h3.inline-richtext {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

.reviews .slider-counter--total,
.collection .slider-counter--total {
  display: none;
}

.image-with-text__text {
  font-size: 1.3rem;
  line-height: 2rem;
}

/* .image-with-text__content--small .image-with-text__heading {
  line-height: 3.2rem;
} */

.multicolumn__title {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
}

.image-with-text__grid-3-cols {
  flex-direction: column !important;
}

.image-with-text__grid-3-cols .heading-item {
  margin-bottom: 0;
}

.image-with-text__grid-3-cols .image-with-text__heading {
  font-family: "aeonikregular";
}

.image-with-text__grid-3-cols .image-with-text__heading p {
  margin-top: 0;
}

.image-with-text__grid-3-cols .image-with-text__media--placeholder::after {
  background: rgba(var(--color-foreground), 0);
}

.image-with-text__grid-3-cols .image-with-text__media-item {
  display: none;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid-3-cols .heading-item {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .image-with-text__grid-3-cols .heading-item,
  .image-with-text__grid-3-cols .content-item,
  .image-with-text__grid-3-cols .image-with-text__media-item {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media screen and (min-width: 1025px) {
  .image-with-text__grid-3-cols {
    flex-direction: row !important;
    column-gap: 4rem !important;
  }

  .image-with-text__grid-3-cols .heading-item {
    max-width: 25%;
    padding-bottom: 5rem;
    margin-bottom: 2rem;
  }

  .image-with-text__grid-3-cols .heading-item .button {
    position: absolute;
    bottom: 0;
  }

  .image-with-text__grid-3-cols .content-item {
    max-width: 43%;
  }

  .image-with-text__grid-3-cols .content-item .image-with-text__content {
    width: 100%;
  }

  .image-with-text__grid-3-cols .image-with-text__media-item {
    display: block;
  }

  /* .image-with-text__grid-3-cols .image-with-text__media-item {
    max-width: 30%;
  } */
}

@media screen and (min-width: 1025px) {
}

.image-with-text__grid-3-cols .image-with-text__text {
  margin-bottom: 2rem;
}

.image-with-text__grid-3-cols .image-with-text__badge-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-with-text__grid-3-cols .image-with-text__content {
  padding: 0;
}

.image-with-text__badge {
  display: flex;
  column-gap: 2.5rem;
}

.footer .footer-block-newsletter {
  margin-bottom: 1rem;
}

@media screen and (max-width: 749px) {
  .image-with-text__grid {
    flex-direction: column-reverse;
  }
}

.footer .image__float {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 750px) {
  .footer .image__float {
    top: 10%;
  }
}

@media screen and (min-width: 1025px) {
  .footer .email-enabled {
    display: grid;
    grid-template-columns: 35% 12% 12% 12% 25%;
  }

  .footer .footer-block-newsletter {
    padding-right: 3rem;
  }

  .footer .footer-block-newsletter .list-social {
    justify-content: flex-start;
  }

  .footer .image__float {
    top: auto;
  }
}

.footer .email-enabled .footer-block {
  width: 100%;
}

.footer .email-enabled .footer-block {
  display: flex;
  flex-direction: column;
}

.footer .email-enabled .footer__list-social {
  justify-content: flex-start;
  display: none;
}

@media screen and (min-width: 750px) {
  .footer .email-enabled .footer-block:nth-child(n + 2):nth-child(-n + 5) {
    max-width: 22%;
  }

  .footer .email-enabled .footer__list-social {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 820px) {
  .footer .email-enabled .footer-block:nth-child(n + 2):nth-child(-n + 5) {
    max-width: 22%;
  }
}

@media screen and (min-width: 1025px) {
  .footer .email-enabled .footer-block:nth-child(n + 2):nth-child(-n + 5) {
    max-width: 100%;
  }
}

.footer .email-enabled .newsletter-form {
  max-width: 100%;
}

.footer .newsletter-form__field-wrapper {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .footer .footer__logo.logo-absolute {
    position: absolute;
    left: 5rem;
  }

  .footer .footer__logo.logo-absolute .footer-block__image-wrapper {
    margin-bottom: 0;
  }
}

.marquee-wrapper {
  overflow: hidden;
}

.marquee-wrapper .node-marquee__el {
  /* width: 320px; */
  margin: 0 1rem;
  display: flex !important;
  align-items: center;
}

.marquee-wrapper .multicolumn-list__item {
  margin: 0;
}

.marquee-wrapper .marquee-item {
  width: 60px;
  margin: 0 1rem 0 5rem;
  display: flex;
}

.marquee-wrapper .marquee__image {
  width: 100%;
  height: auto;
  margin: auto;
}

.marquee-wrapper .marquee__image {
  padding: 0 1rem;
}

.video-section .tablet-display,
.mobile-display {
  display: flex;
}

.video-section .mobile-display {
  flex-direction: column;
}

.tablet-display,
.desktop-display {
  display: none;
}

@media screen and (min-width: 750px) {
  .mobile-display {
    display: none;
  }

  .tablet-display {
    display: flex;
  }

  .video-section .tablet-display {
    flex-direction: column;
  }
}

@media screen and (min-width: 1025px) {
  .mobile-display,
  .tablet-display,
  .video-section .tablet-display {
    display: none;
  }

  .desktop-display {
    display: flex;
  }

  .video-section .desktop-display {
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) {
  .section__row-layout {
    display: grid;
    grid-template-columns: 30% 69%;
    grid-column-gap: 1%;
    align-items: flex-start;
  }
}

@media screen and (min-width: 990px) {
  .section__row-layout {
    grid-template-columns: 25% 70%;
    grid-column-gap: 5%;
  }
}

.footer-block--menu .footer-block__heading {
  padding: 1rem 0;
}

.footer-block--menu .footer-block__details-content {
  max-height: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.footer-block--menu .footer-block__details-content.show {
  margin-bottom: 0rem;
  max-height: 300px;
}

@media screen and (min-width: 750px) {
  .footer-block--menu .footer-block__heading {
    padding: 0;
  }

  .footer-block--menu .footer-block__details-content {
    max-height: 300px;
  }
}

.btn__radius--default {
  border-radius: 0;
}

.btn__radius--semi-curve {
  border-radius: 10px;
}

.btn__radius--curve {
  border-radius: 20px;
}

.btn__radius--rounded {
  border-radius: 50%;
}

@media screen and (min-width: 750px) {
  .btn__width--default {
    width: auto;
  }

  .btn__width--2x {
    width: 20rem;
  }

  .btn__width--3x {
    width: 25rem;
  }

  .btn__width--4x {
    width: 35rem;
  }
}

/* OKE REVIEWS APP */

.okeReviews {
  max-width: max-content !important;
}

.oke-w-reviews-writeReview,
.oke-w-reviews-writeReview .oke-w-writeReview {
  width: 100%;
}

.oke-w-reviewMinimal {
  background-color: #fff3e6;
  padding: 1.5rem;
}

.oke-w-reviewMinimal .oke-reviewContent-body p {
  line-height: 2rem;
}

.oke-w-controls-nav .oke-poweredBy {
  display: none !important;
}

.oke-w-reviews-list-item {
  border-bottom: none !important;
  padding: 1rem 0 !important;
}

.oke-w-reviews-main {
  border-top: none !important;
}

.oke-reviewContent-readMore {
  display: inline-block;
}

.oke-button {
  border-radius: 3rem !important;
}

@media screen and (min-width: 750px) {
  .oke-w-reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }

  .oke-w-reviews-head {
    margin-bottom: 0 !important;
    grid-column-start: 3;
  }

  .oke-w-reviews-controls {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    align-items: center !important;
  }

  .oke-w-reviewMinimal {
    padding: 2rem;
  }

  .oke-w-reviews-main,
  .oke-w-reviews-footer {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .oke-w-reviews-writeReview {
    margin: 0;
  }

  .okeReviews[data-oke-container] .oke-w-reviews-writeReview,
  div.okeReviews .oke-w-reviews-writeReview {
    margin-left: unset;
  }

  .oke-showMore {
    display: flex;
  }
}

@media screen and (min-width: 990px) {
  .oke-w-reviews {
    column-gap: 4rem;
  }
}

/* YOTPO APP */

/* .yotpo-widget-subscriptions-add-to-cart .yotpo-selling-plans {
	display: flex !important;
}

.yotpo-widget-subscriptions-add-to-cart .yotpo-radio-container.yotpo-selected {
	border: solid 2px #C09A83 !important;
}

.yotpo-widget-subscriptions-add-to-cart .yotpo-radio-container {
	width: 100%;
    border: solid 2px #FFF3E6 !important;
    border-radius: 0 !important;
    padding: 10px !important;
    text-align: left;
    justify-content: flex-start !important;
}

.yotpo-widget-subscriptions-add-to-cart .yotpo-subscription-discount-label-container {
	margin: 0 !important;
    flex-direction: column;
}

.yotpo-widget-subscriptions-add-to-cart .yotpo-subscription-discount-label-container div {
  font-weight: bold;
}

.yotpo-widget-subscriptions-add-to-cart .yotpo-tile-buttons {
	margin: 0 !important;
}

@media screen and (min-width: 750px) {
	.yotpo-widget-subscriptions-add-to-cart .yotpo-radio-container {
		padding: 10px 20px!important
	}
  
  	.yotpo-widget-subscriptions-add-to-cart .yotpo-subscription-discount-label-container {
  		flex-direction: row;
  	}
} */
